body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    gap: 5px;
    height: 100vh;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 100px);
    /* justify-items lineado de forma horizontal */
    /* start pone el contenido a la izquierda */
    /* end pone el contenido a la derecha */
    /* stretch pone el contenido de forma estirada */
    /* justify-items: center; */
    /* lineado de forma vertical */
    /* align-items: center; */
    /* justify-content: ;
    align-content: ; */
}

.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
}
